@import "colors";

body{
  font-family: sans-serif;
}

// .mdl-layout__header{
//   background-color: $color1;
// }
//
// .mdl-title{
//   color: #efefef;
// }
//
// .mdl-button.mdl-button--colored{
//   background-color: $color4;
// }

.navbar{
  height: 60px;

  &.primary{
    background: $colorPrimary;
  }

  a{
    box-sizing: border-box;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1em;
    text-decoration: none;
  }

  nav{
    padding: 1.25em;
  }
}

.container{
  margin: 0 auto;
  max-width: 60em;
}

.video-card {
  video{
    max-width: 100%;
  }
}

.player{
  background: #000;

  video{
    display: block;
    margin: 0 auto;
  }
}
