<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Live Streaming</title>
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Video stream</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/">Live video</a>
            <a class="mdl-navigation__link" href="/playlists">Live processing</a>
            <a class="mdl-navigation__link" href="/playlists/2">On demand</a>
            <a class="mdl-navigation__link" href="">4</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Video stream</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Live video</a>
          <a class="mdl-navigation__link" href="/playlists">Live processing</a>
          <a class="mdl-navigation__link" href="/playlists/2">On demand</a>
          <a class="mdl-navigation__link" href="">4</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col"></div>
            <div class="mdl-cell mdl-cell--4-col">

              <div class="video-card">
                <video autoplay controls>
                  <source src="http://localhost:3000/videos/stream" type="video/mp4" />
                </video>
                <p>
                  Encoded
                </p>
              </div>

              <div class="video-card">
                <video controls>
                  <source src="http://localhost:3000/playlists/1" type="video/mp4" />
                </video>
                <p>
                  Encode on the fly
                </p>
              </div>

              <div class="video-card">
                <video autoplay controls>
                  <source src="http://localhost:3000/videos/live" type="video/mp4" />
                </video>
                <p>
                  Web camera
                </p>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--4-col"></div>
          </div>
          <!-- end grid -->

        </div>
      </main>
      <!-- end main content -->
    </div>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>
