<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Live Streaming</title>
  </head>
  <body>

    <div class="primary navbar">
      <nav class="top">
        <a href="/">Dashboard</a>
      </nav>
    </div>

    <div class="container">
      <section>
        <div class="video-card">
          <div class="video player">
            <video autoplay controls>
              <!-- <source src="http://localhost:3000/videos/stream" type="video/mp4" /> -->
              <source src="http://localhost:3000/media/video.mp4" type="video/mp4" />
            </video>
          </div>
          <p>
            Live video
          </p>
        </div>

      </section>

      <section>
        <div class="video-card">
          <h2>Upload</h2>
          <p>This should process the video using multiple child processes</p>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="video_file" name="video[file]">
            <input type="hidden" name="video[uploader]" value="guest_user">
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
      </section>
    </div>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>
