<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Live Streaming</title>
  </head>
  <body>

    <div class="primary navbar">
      <nav class="top">
        <a href="/">Dashboard</a>
      </nav>
    </div>

    <div class="container">
      <section id="players">
        <div class="video-card">
          <div class="video player">
            <video autoplay controls>
              <!-- <source src="http://localhost:3000/media/video.mp4" type="video/mp4" /> -->
              <source src="http://localhost/live/diana/index.m3u8"
                type="application/x-mpegurl">
            </video>
          </div>
          <p>
            Live video from rtmp://localhost/live/diana
          </p>
        </div>

      </section>

    </div>

    <script>
      let liveChannels = fetch('/stream/channels')
        .then(data => data.json())
        .then(data => {
          let playerSection = document.querySelector('#players')
          if (data.channels.length > 0){
            playerSection.innerHTML = ""
          }

          data.channels.map(channel => {
            let div = document.createElement('div')
            div.className = 'video-card'
            let playerBox = document.createElement('div')
            playerBox.className = 'video player'
            let player = document.createElement("video")
            player.autoplay = true
            player.controls = true
            let source = document.createElement("source")
            source.type = 'application/x-mpegurl'
            source.src = 'http://localhost/live/' + channel + '/index.m3u8'

            playerSection.appendChild(div)
            div.appendChild(playerBox)
            playerBox.appendChild(player)
            player.appendChild(source)
          })
        })
    </script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>
